@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  overflow: hidden;
  background-color: #1137ca;
}

*::selection {
  color: #02268e;
  background-color: white;
}

#page1 {
  height: 100vh;
  width: 100vw;
  position: relative;
}
#page1 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#page1 > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  position: absolute;
  height: 10vh;
  width: 100vw;
}
#page1 > nav > a > img {
  margin-top: -0.15vw;
  width: 60%;
  cursor: pointer;
}

#right-nav > button {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #0b48ed;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Jost", sans-serif;
  cursor: pointer;
  font-size: 15px;
}

@media screen and (max-width: 480px) {
  #right-nav > #demo {
    display: none;
  }
  #page1 > nav {
    margin-left: 15px;
  }
  #right-nav > button {
    font-size: 3.5vw;
  }
  #page1 > nav > a > img {
    margin-left: -2rem;
    width: 4rem;
  }
}
.bottom-page1 {
  position: absolute;
  bottom: 5%;
  height: 35vh;
  width: 50vw;
  left: 10%;
}
.bottom-page1 > h1 {
  font-family: "Jost", sans-serif;
  font-size: 5vw;
  font-weight: 100;
  line-height: 1;
  color: #fff;
}
.bottom-page1-inner {
  position: absolute;
  bottom: 0%;
  height: 35%;
  width: 100%;
}
.bottom-page1-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Jost", sans-serif;
}
.bottom-page1-inner > button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  color: #0b48ed;
  font-size: 16px;
  font-family: "Jost", sans-serif;
}
.bottom-page1-inner > h4 {
  font-size: 1.3vw;
  font-weight: 100;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .bottom-page1 {
    display: flex;
    align-items: center;
    bottom: 35%;
    height: 65vh;
    width: 85vw;
    left: 2%;
  }
  .bottom-page1 > h1 {
    font-family: "Jost", sans-serif;
    font-size: 17vw;
    font-weight: 100;
    line-height: 1;
    color: #fff;
  }
  .bottom-page1-inner {
    display: grid;
    place-items: center;
    bottom: 10%;
    height: 10%;
    width: 150%;
  }
  .bottom-page1-inner > button {
    padding: 12px 22px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: #0b48ed;
    font-size: 16px;
    font-family: "Jost", sans-serif;
    margin-right: 17rem;
    margin-top: 2.5rem;
    cursor: pointer;
  }
  .bottom-page1-inner > h4 {
    font-size: 5vw;
    font-weight: 100;
    color: #dadada;
    margin-right: 5rem;
    margin-bottom: 5px;
  }
}
/* page2 */
#page2 {
  display: flex;
  align-items: start;
  font-family: "Jost", sans-serif;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0vw 8vw;
  color: #fff;
  background-color: #0a3cce;
}
#page2 > h2 {
  margin-bottom: 3vw;
  font-weight: 100;
}
#page2 > h1 {
  font-weight: 100;
  line-height: 1.3;
  width: 90%;
  font-size: 4vw;
  color: #dadada69;
}

@media screen and (max-width: 480px) {
  #page2 > h2 {
    margin-bottom: 3vw;
    font-weight: 100;
    font-size: 0.7rem;
  }
  #page2 > h1 {
    font-weight: 100;
    line-height: 1.5;
    width: 100%;
    font-size: 10vw;
    color: #dadada69;
  }
}

#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#page3 > canvas {
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
}
#page4 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #1137ca;
  font-family: "Jost", sans-serif;
}
#page4 > h3 {
  margin-left: 15vw;
  margin-bottom: 2vw;
  font-weight: 100;
  color: #fff;
}
#page4 > h1 {
  margin-left: 15vw;
  width: 70%;
  font-size: 3vw;
  font-weight: 100;
  color: #ffffff81;
}

@media screen and (max-width: 480px) {
  #page4 > h3 {
    margin-left: 15vw;
    margin-bottom: 2vw;
    font-weight: 100;
    color: #fff;
    font-size: 0.7rem;
  }
  #page4 > h1 {
    margin-left: 15vw;
    width: 80%;
    font-size: 8.7vw;
    font-weight: 100;
    color: #ffffff81;
  }
}

#page5 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#page5 > canvas {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}
#page6 {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
  flex-direction: column;
  font-family: "Jost", sans-serif;
}
#page6 > h3 {
  margin-left: 15vw;
  font-weight: 100;
  color: #fff;
  margin-bottom: 2vw;
}
#page6 > h1 {
  margin-left: 15vw;
  font-size: 3vw;
  width: 70%;
  font-weight: 100;
  color: #ffffff53;
}

@media screen and (max-width: 480px) {
  #page6 > h3 {
    margin-left: 15vw;
    font-weight: 100;
    font-size: 0.7rem;
    color: #fff;
    margin-bottom: 2vw;
  }
  #page6 > h1 {
    margin-left: 15vw;
    font-size: 3vw;
    width: 80%;
    font-size: 2.2rem;
    font-weight: 100;
    color: #ffffff53;
  }
}

#page7 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}
#page7 > canvas {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}
.page7-cir {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  border: 1px solid #fff;
}
.page7-cir-inner {
  height: 70%;
  width: 70%;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
}

#page8 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}
#page8 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page8-bottom {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Jost", sans-serif;
}
.page8-bottom > h1 {
  color: #fff;
  margin-bottom: 2vw;
  font-size: 5vw;
  font-weight: 100;
}
.page8-bottom > button {
  padding: 20px 30px;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  color: #0a3cce;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .page8-bottom {
    bottom: 1%;
  }
  .page8-bottom > h1 {
    margin-bottom: 2vh;
    font-size: 5rem;
    font-weight: 100;
  }
}

#page9 {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}
.left9 {
  height: 100%;
  width: 40%;
  position: relative;
  font-family: "Jost", sans-serif;
}
.left9 > h1 {
  position: absolute;
  top: 40%;
  right: 5%;
  transform: translateY(-50%);
  font-size: 5vw;
  font-weight: 100;
  color: #fff;
  line-height: 1;
}
.right9 {
  height: 100%;
  width: 60%;
  position: relative;
}
.right9-center {
  height: 50%;
  width: 85%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
  background-size: cover;
  left: 5%;
}
@media screen and (max-width: 480px) {
  .left9 {
    height: 60vh;
    width: 100vw;
    position: relative;
    font-family: "Jost", sans-serif;
  }
  .left9 > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    font-size: 18vw;
    font-weight: 100;
    color: #fff;
    line-height: 1;
    white-space: nowrap;
  }
  .right9 {
    height: 40%;
    width: 100rem;
    position: relative;
  }
  .right9-center {
    height: 30vh;
    width: 90vw;
    border-radius: 10px;
    position: absolute;
    top: 150%;
    transform: translateY(-50%);
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
    left: -16%;
  }
}
#page10 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}
.right10 {
  height: 100%;
  width: 60%;
  position: relative;
  left: 40%;
}
.right10-inner {
  display: flex;
  align-items: start;
  flex-direction: column;
  height: 33.3%;
  width: 100%;
  font-family: "Jost", sans-serif;
  color: #fff;
}
.right10-inner > h1 {
  font-size: 2vw;
}
.right10-inner > p {
  margin-top: 2vw;
  font-size: 1.3vw;
  width: 80%;
}
@media screen and (max-width: 480px) {
  #page10 {
    position: relative;
    height: auto; /* Change height to auto to allow content to dictate the height */
    background-color: #0a3cce;
  }
  .right10 {
    width: 100%;
    padding: 10%; /* Add padding for spacing */
    white-space: wrap; /* Use 'normal' for white-space */
  }
  .right10-inner {
    display: flex;
    align-items: flex-start; /* Change to 'flex-start' */
    flex-direction: column;
    width: 100%;
    font-family: "Jost", sans-serif;
    color: #fff;
    white-space: wrap; /* Use 'normal' for white-space */
  }
  .right10-inner > h1 {
    margin-top: 20vw; /* Adjust margin for spacing */
    font-size: 8vw; /* Adjust font size */
    margin-left: -55%;
    word-wrap: break-word;
  }
  .right10-inner > p {
    margin-top: 2vw; /* Adjust margin for spacing */
    margin-left: -55%;
    font-size: 7vw; /* Adjust font size */
    width: 100%; /* Use 100% width */
    white-space: wrap; /* Use 'normal' for white-space */
  }
}

#page11 {
  position: relative;
  height: 110vh;
  width: 100vw;
  background-color: #fff;
  font-family: "Jost", sans-serif;
}
#page11 > h1 {
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 4vw;
  color: #000;
  font-weight: 100;
}
.page11-inner {
  display: flex;
  top: 18%;
  position: relative;
  margin-bottom: 2vw;
  height: 24%;
  width: 100%;
}
.left11 {
  position: relative;
  height: 100%;
  width: 40%;
  left: 5%;
  border-radius: 10px;
  overflow: hidden;
}
.left11 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: ease 0.5s;
}
.left11 > img:hover {
  transform: scale(1);
}
.right11 {
  padding-top: 5vw;
  color: #000;
  left: 50%;
  position: absolute;
  height: 100%;
  width: 50%;
}
.right11 > h4 {
  font-weight: 100;
}
.right11 > h1 {
  font-size: 2vw;
}
@media screen and (max-width: 480px) {
  #page11 {
    height: auto; /* Change height to auto to adapt to content */
    padding-top: 50%;
  }
  #page11 > h1 {
    font-size: 12vw; /* Adjust font size for smaller screens */
    text-align: center; /* Center the text horizontally */
    left: 20px; /* Reset left position */
    top: 10px; /* Adjust top position */
    color: #ffffffbe;
  }
  .page11-inner {
    flex-direction: column; /* Stack the inner content vertically */
    align-items: center; /* Center the inner content horizontally */
    top: -50px; /* Reset top position */
  }
  .left11 {
    width: 100%; /* Make the left section full-width */
    left: 0; /* Reset left position */
  }
  .left11 > img {
    height: auto; /* Allow the image's height to adjust */
  }
  .right11 {
    position: static; /* Remove absolute positioning */
    width: 100%; /* Make the right section full-width */
    text-align: center; /* Center the text horizontally */
    padding-top: 30px; /* Adjust top padding */
  }
  .right11 > h4 {
    font-size: 4vw; /* Adjust font size for smaller screens */
  }
  .right11 > h1 {
    font-size: 10vw; /* Adjust font size for smaller screens */
    color: #ffffff8f;
  }
}

#page12 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #02268e;
}
.page12-inner {
  position: absolute;
  top: 15%;
  right: 10%;
  color: #fff;
  font-family: "Jost", sans-serif;
}
.page12-inner > h1 {
  font-size: 8vw;
  font-weight: 100;
}
.page12-inner > p {
  font-size: 2vw;
}
@media screen and (max-width: 480px) {
  #page12 {
    height: 100vh; /* Change height to auto to adapt to content */
    width: 100vw;
  }
  .page12-inner {
    top: 10%; /* Reset top position */
    right: 2%; /* Reset right position */
    text-align: center; /* Center the text horizontally */
  }
  .page12-inner > h1 {
    font-size: 17vw; /* Adjust font size for smaller screens */
    color: #ffffffe8;
  }
  .page12-inner > p {
    font-size: 5vw; /* Adjust font size for smaller screens */
    margin-top: 2vw;
  }
}

#page13 {
  position: relative;
  height: 50vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
  font-family: "Jost", sans-serif;
  padding: 7vw 10vw;
}
#page13 > h1 {
  font-size: 5vw;
  line-height: 1;
  font-weight: 100;
}
#page13 > button {
  padding: 18px 30px;
  border: none;
  background-color: #0a3cce;
  color: #fff;
  border-radius: 50px;
  margin-top: 2vw;
  cursor: pointer;
}
/* #page13 > button::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100%+4px);
  height: calc(100%+4px);
  animation: glowing 0.3s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
#page13 > button:hover::before {
  opacity: 1;
}
#page13 > button::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
} */

@media screen and (max-width: 480px) {
  #page13 {
    height: 40vh;
    width: 100vw;
  }
  #page13 > h1 {
    font-size: 12.5vw;
    line-height: 1;
    padding: 20px;
    flex-wrap: nowrap;
  }
  #page13 > button {
    padding: 18px 30px;
    border: none;
    background-color: #0a3cce;
    color: #fff;
    border-radius: 50px;
    margin-top: 8vw;
    margin-left: 4vw;
  }
}

#page14 {
  position: relative;
  height: 60vh;
  width: 100vw;
  background-color: #000;
}
.page14-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 5vw;
  font-family: "Jost", sans-serif;
  height: 33.3%;
  width: 100%;
  color: #fff;
  border-top: 0.5px solid #ffffff5c;
  border-bottom: 0.5px solid #ffffff48;
}
.page14-inner > i {
  font-weight: 100;
  font-size: 2.4vw;
  position: relative;
  z-index: 9999;
}
.page14-inner > h1 {
  font-size: 3vw;
  font-weight: 100;
  position: relative;
  z-index: 9999;
}

.center14 {
  height: 0%;
  width: 100%;
  background-color: #0a3cce;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.5s;
}

.page14-inner:hover .center14 {
  height: 100%;
}
@media screen and (max-width: 480px) {
  .page14-inner > i {
    font-size: 8vw;
    color: #dadadae7;
  }
  .page14-inner > h1 {
    font-size: 10vw;
  }
  .center14 {
    height: 0%;
    width: 100%;
    background-color: #0a3cce;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all ease 0.5s;
  }
  .page14-inner:hover .center14 {
    height: 100%;
  }
}
#futar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  width: 100vw;
  background-color: #083fdc;
  color: #fff;
  font-family: "Jost", sans-serif;
  padding: 7vw 10vw;
}

#futar a img {
  margin-top: -0.2vw;
  margin-left: -2vw;
  width: 4.6vw;
}

#futar p {
  margin: 0;
}

#futar a {
  color: #fff;
  text-decoration: none;
}

#futar a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 480px) {
  #futar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #083fdc;
    padding: 2vw 5vw;
  }

  #futar a img {
    display: none;
  }

  #futar p {
    margin: 0;
  }

  #futar a {
    color: #fff;
    text-decoration: none;
  }

  #futar a:hover {
    text-decoration: underline;
  }
}
