* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
#main {
  position: relative;
  overflow: hidden;
  background-color: #1137ca;
}
#page1 {
  height: 100vh;
  width: 100vw;
  position: relative;
}
#page1 > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#page1 > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  position: absolute;
  height: 10vh;
  width: 100vw;
  font-family: "Jost", sans-serif;
}
#page1 > nav > a > img {
  margin-top: -1.9vw;
  width: 13vw;
  margin-left: -6.5vw;
}
#page1 > nav > a > img:hover {
  cursor: pointer;
}
#right-nav > button {
  padding: 8px 16px;
  border-radius: 50px;
  background-color: #0b48ed;
  border: 0.1rem solid #ffffff6b;
  color: #fff;
  margin-top: 25px;
  margin-right: 25px;
  font-size: 14px;
  font-family: "Jost", sans-serif;
}
#right-nav > button:hover {
  cursor: pointer;
}
#page1-bottom {
  position: absolute;
  bottom: 15%;
  height: 35vh;
  width: 50vw;
  left: 10%;
}
#page1-bottom > h1 {
  font-size: 6vw;
  font-weight: 100;
  line-height: 1;
  color: #fffffff3;
  font-family: "Jost", sans-serif;
}
#page1-inner-bottom {
  position: absolute;
  bottom: 0%;
  height: 35%;
  width: 100%;
  font-family: "Jost", sans-serif;
}
#page1-inner-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#page1-inner-bottom > button {
  padding: 15px 35px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  color: #0b48ed;
  font-size: 14px;
  margin-top: 85px;
  margin-right: 25%;
  font-family: "Jost", sans-serif;
}
#page1-inner-bottom > button:hover {
  cursor: pointer;
}
#page1-inner-bottom > h4 {
  font-size: 1.3vw;
  font-weight: 200;
  color: #ffffffce;
  font-family: "Jost", sans-serif;
  margin-top: 85px;
}
/* page2 */
#page2 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
  position: relative;
  font-family: "Jost", sans-serif;
  padding: 0vw 4vw;
  color: #fff;
}
#page2 > h2 {
  margin-bottom: 2vw;
  font-size: 1.3vw;
  font-weight: 100;
}
#page2 > h1 {
  width: 90%;
  font-size: 4vw;
  font-weight: 100;
  line-height: 1.4;
  color: #dadada69;
}
#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#page3 > canvas {
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
}

#page4 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
  position: relative;
  font-family: "Jost", sans-serif;
  padding: 0vw 4vw;
  color: #fff;
}
#page4 > h2 {
  margin-bottom: 2vw;
  font-size: 1.3vw;
  font-weight: 100;
  margin-left: 2rem;
}
#page4 > h1 {
  width: 90%;
  font-size: 4vw;
  font-weight: 100;
  line-height: 1.4;
  margin-left: 2rem;
  color: #dadada69;
}

#page5 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#page5 > canvas {
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
}

#page6 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
  position: relative;
  font-family: "Jost", sans-serif;
  padding: 0vw 4vw;
  color: #fff;
}
#page6 > h2 {
  margin-top: -7rem;
  margin-bottom: 2.5vw;
  font-size: 1.3vw;
  font-weight: 100;
  text-decoration: solid;
  margin-left: 7rem;
}
#page6 > h1 {
  width: 90%;
  font-size: 4vw;
  font-weight: 100;
  line-height: 1.4;
  margin-left: 7rem;
  color: #dadada69;
}
